* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

main {
  flex: 1;
  padding: 20px 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* footer stylings  */

footer {
  background-color: #046e76;
  color: white;
  padding: 15px 0;
}

footer img {
  height: 40px;
}

/* header stylings  */
header img {
  height: 55px;
}

header {
  background-color: #f2f9f9;
  padding: 10px 0;
}

/* navigation stylings  */
.y-wrap {
  margin: 0 auto;
  width: 90%;
}

a {
  color: inherit;
  text-decoration: none;
}

.y-navs {
  display: flex;
  align-items: center;
}

.y-navs a:first-of-type {
  flex: 1;
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
}
/* modal stylings  */

.modal-button {
  padding: 30px;
  background-color: #f2f9f9;
  border: 1px solid #046e76;
  font-size: 1rem;
  cursor: pointer;
}

.quiz-modals {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* landing stylings  */

.landing-container {
  display: flex;
}

.landing-quiz-logo {
  width: 50%;
}

.landing-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-wrap p {
 margin: 10px;
}

/* quiz stylings  */

.quiz-container {
  display: flex;
  flex-direction: column;
}

.quiz-question {
  margin-top: 10px;
}

.quiz-answers{
  display: flex;
  gap: 30px;
}

.quiz-answer {
  display: flex;
  cursor: pointer;
  background-color: #bed7d8;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
}

.quiz-title {
  display: flex;
  justify-content: space-between;
}

.close-button {
  padding: 10px 12px;
  border-radius: 60%;
  background-color: #046e76;
  border: none;
  color: #fff;
  cursor: pointer;
}


@media (max-width: 768px) {
  .landing-quiz-logo {
    width: 50%
  }

  .quiz-modals {
    flex-wrap: wrap;
  }

  .quiz-answers {
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 10px;
  }
}